{% extends 'base.html.twig' %}

{% block body %}

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.city) }}
        {{ form_row(form.country) }}
        <button type="submit" class="btn">Get weather</button>
    {{ form_end(form) }}

    {% if temperature is defined %}
        Aktualna temperatura w tym mieście to: {{ temperature }}°{{ temperatureUnit }}
    {% endif %}    

{% endblock %}